<div id="footer">
  <div class="container">
    <p class="pull-left">&copy; Nicole H. Romano &middot;
      <a href="#">Privacy</a> &middot; <a href="#">Terms</a>
    </p>
    <div style="margin-left: 45%; bottom: 10px;">
      <div class="social-icons">
        <a href="https://github.com/NickiRom" alt="f200" class="genericon genericon-github hidden-xs"></a>
      </div>

      <div class="social-icons">
        <a href="https://www.linkedin.com/in/nhromano"
           alt="f207" class="genericon genericon-linkedin hidden-xs"></a>
      </div>
    </div>
  </div>
</div>
