{% extends "layout/base.html" %}

{% block content %}
  <div id="wrap">
    <p style="text-shadow:5px 2px 0 rgba(4,182,201,1);font-weight:normal;color:#000000;letter-spacing:6pt;word-spacing:0pt;font-size:120px;text-align:left;font-family:helvetica, sans-serif;line-height:1;">{SetList]</p>

<div class="item" style="font-family:helvetica;">
    <ol margin = "0 0 3px 0" >
        <li>Add songs to a Beats Music playlist.  Feel free to get creative!</li>
        <li>Make sure the playlist is public, and find the ID in the Beats address bar.</li>
        <li>Enter the ID into the {SetList] search bar.</li>
        <li>Click Submit to check out your {SetList]</li>
        <li>Look at the Song Transitions heat map to find songs that don't fit</li>
        <li>Enjoy your music!</li>
    </ol>
</div>
  </div>
{% endblock %}

{% block footer %}
  {% include "include/footer.html" %}
{% endblock %}
