{% extends "layout/base.html" %}
{% block content %}
<div id="wrap">
        <!--<div class="col-lg-4"> -->
        
    <p style="text-shadow:5px 2px 0 rgba(4,182,201,1);font-weight:normal;color:#000000;letter-spacing:6pt;word-spacing:0pt;font-size:120px;text-align:left;font-family:helvetica, sans-serif;line-height:1;">{SetList]</p>

        <H3 style="font-family:helvetica;margin-left:150px"> Set your life to music. </H3>

            <div class="container">	
 

<div class="searchbox">
    <form action="/generatedistance" method="POST">
    <searchfield>
        <p style="margin-bottom: 6px;width:288px;background-color:#333;color:#fff"><input style="text-align: center;" type="text" name="query" placeholder="Beats Playlist ID" id="charityName" class="typeahead" />
        <p style="margin-left: 100px;margin-right: 100px;"><input style="width:88px;height:30px;text-align: center; border:2px solid black;"type="submit" class="button"/></p>
    </searchfield>
    </form>
</div>



	</div>

<script>
$('#setlist').typeahead([
{
name: 'setListLocal',
prefetch: {
   url: "{{ url_for('static', filename='charitynamesCN.json')}}",
   ttl: 0
},
valueKey: 'name',
limit: 10
}
]);
</script>

	<br>
	<br>
<footer>
  <p></p>
</footer>

{% endblock %}
