{% extends "layout/base.html" %}
{% block content %}
<div id="wrap">
        <!--<div class="col-lg-4"> -->
        
    <p style="text-shadow:5px 2px 0 rgba(4,182,201,1);font-weight:normal;color:#000000;letter-spacing:6pt;word-spacing:0pt;font-size:120px;text-align:left;font-family:helvetica, sans-serif;line-height:1;">{SetList]</p>

        <H3 style="font-family:helvetica;margin-left:150px"> Set your life to music. </H3>

            <div class="container">	
                <ul class="nav" style="margin-top:100px">

                    <li>
                    <a href="#">Surprise me!</a>
                    </li>

                    <li id="search">
                        <form action="/generatedistance" method="post">
                            <input type="text" name="query" id="search_text" placeholder="Search"/>
                            <input type="button" name="search_button" id="search_button"></a>
                        </form>
                    </li>
                    <li id="options">
                        <a href="#">Options</a>
                        <ul class="subnav">
                            <li><a href = "pl196411940837261312">pl196411940837261312</a></li>
                            <li><a href="pl2">pl170577122547466496</a></li>
                            <li><a href="pl3">pl147773287731036416</a></li>
                            <li><a href="pl4">pl151894969496371456</a></li>
                            <li><a href="pl5">pl151764388523540736</a></li>
                            <li><a href="pl6">pl152858163299746048</a></li>
                            <li><a href="pl7">pl196764123525021952</a></li>
                            <li><a href="pl8">pl196411940837261312</a></li>
                            <li><a href="pl9">pl197125380790813184</a></li>
                        </ul>
                    </li>
                </ul>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form action="/generatedistance" method="post">
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button type="button" class = "btn btn-default dropdown-toggle" onchange=
        <H3 style="font-family:helvetica;margin-left:150px"> Powered by <a href="https://developer.beatsmusic.com/"> Beats Music API </a> and <a href="http://developer.echonest.com/"> EchoNest API. </a></H3>
        </div>
	</div>
	<br>
	<br>

{% endblock %}
